In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import ta
import matplotlib.pyplot as plt

In [3]:
class Backtest:
    
    def __init__(self, symbol):
        self.symbol = symbol
        self.df = yf.download(self.symbol, start='2019-01-01')
        if self.df.empty:
            print("No data pulled")

In [4]:
instance = Backtest

In [5]:
instance

__main__.Backtest

In [6]:
instance = Backtest('SBIN.NS')

[*********************100%***********************]  1 of 1 completed

In [8]:
instance.df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-01,297.500000,300.700012,293.850006,299.600006,292.297607,11837127
2019-01-02,299.100006,302.500000,293.100006,293.899994,286.736511,25559853
2019-01-03,295.000000,295.549988,290.100006,291.100006,284.004791,17548347
2019-01-04,292.100006,299.000000,291.500000,297.649994,290.395111,19514041
2019-01-07,301.049988,301.500000,295.200012,296.299988,289.078033,14579399
...,...,...,...,...,...,...
2022-08-26,523.799988,529.500000,522.200012,523.799988,523.799988,12855886
2022-08-29,511.299988,517.000000,508.750000,514.849976,514.849976,9421339
2022-08-30,518.200012,532.500000,517.950012,531.250000,531.250000,14835308
2022-09-01,522.250000,540.900024,522.250000,533.299988,533.299988,16670228
2022-09-02,537.000000,537.849976,531.250000,536.700012,536.700012,10017930

In [9]:
instance.symbol

'SBIN.NS'